*{
    box-sizing: border-box; margin: 0; padding: 0;
    /* background-color: #0f172a; */
}

body{
    background-color: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    background-color: #1e293b;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
    width: 280px;
}

.calculator h1{
    text-align: center;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 500;
}

#display{
    width: 100%;
    height: 55px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background-color: #020617;
    color: #ffffff;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

button{
    height: 55px;
    font-size: 30px;
    border: none;
    color: white;
    background-color: #334155;
    border-radius: 8px;
    cursor: pointer;
    /* transition: all 0.15s ease; */
}

button:hover {
    background: #475569;
}

.operator {
    background: #f59e0b;
    color: white;
}
.operator:hover {
    background: #d97706;
}

.equals {
    background: #22c55e;
}.equals:hover {
    background: #16a34a;
}

.clear {
    background: #ef4444;
}.clear:hover {
    background: #dc2626;
}


.page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 60px;
}

.content{
    max-width: 400px;
}

.content h1{
    font-size: 42px;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    color: #cbd5e1;
}